body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background:
    linear-gradient(rgba(255,255,255,0.96),
    rgba(255,255,255,0.96)),
    url("/static/images/bg.jpg");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

/* NAVBAR */
.navbar {
    background: linear-gradient(90deg, #b30000, #e63946);
    padding: 14px 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 14px;
    transition: 0.2s;
}

.navbar-brand:hover {
    transform: scale(1.02);
}

.logo-img {
    height: 60px;
    width: 60px;
    object-fit: contain;
    background: white;
    border-radius: 12px;
    padding: 5px;
}

.app-title {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.2;
    color: white;
}

.tagline {
    color: white;
    font-size: 0.95rem;
}

.nav-text {
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

/* CARD */
.card {
    border: none;
    border-radius: 20px;
    background: rgba(255,255,255,0.97);
    box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}

/* HEADINGS */
h4, h5 {
    color: #8b0000 !important;
    font-weight: 700;
}

/* FORM */
.form-control,
.form-select {
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #d6d6d6;
}

.form-control:focus,
.form-select:focus {
    border-color: #e63946;
    box-shadow: 0 0 0 0.2rem rgba(230,57,70,0.2);
}

/* BUTTON */
.btn-primary,
.btn-success {
    background: linear-gradient(90deg, #b30000, #e63946);
    border: none;
    border-radius: 10px;
    padding: 12px 35px;
    font-size: 1.05rem;
    font-weight: 600;
    transition: 0.3s;
}

.btn-primary:hover,
.btn-success:hover {
    transform: translateY(-2px);
    opacity: 0.95;
}

/* Risk text */
.risk-percentage {
    font-size: 3rem;
    font-weight: 700;
}

/* Charts */
.chart-box {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    margin-top: 25px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* Footer */
footer {
    font-size: 0.9rem;
    color: #555;
}

/* Hint text */
.hint {
    font-size: 12px;
    color: gray;
}
